.listWrapper {
  list-style: none;
}

.filterWrapper {
  margin-bottom: 1em;

  .filterSelect {
    background-color: inherit;
    font-family: inherit;
    margin-left: 2em;
    border: 1px solid rgb(220, 217, 217);
    border-radius: 1cap;
    padding: 0.3em;

    &:hover {
      cursor: pointer;
    }
  }
}
