.container {
  width: 100vh;
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .title {
    text-align: center;
  }

  .labels {
    list-style: none;

    li {
      input {
        margin-top: 1em;
      }
      margin-bottom: 2em;
    }
  }

  .information {
    text-align: center;
  }
}
