@import "../../../styles/variables";

.container {
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .subTitle {
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: 1em;
    text-transform: uppercase;
  }

  .tasks {
    border-bottom: 1px solid rgb(220, 217, 217);
    padding: 0.5em;
    list-style: none;
  }
}

.itemContainer {
  a {
    text-decoration: none;
    color: inherit;

    &:active {
      color: inherit;
    }
  }
  margin-bottom: 1em;

  .content {
    width: 60%;

    display: flex;
    align-items: center;

    padding: 0.5em;

    .icon {
      margin-right: 1.5em;
    }
  }

  &:hover,
  &.active {
    cursor: pointer;
    background-color: $menu-item-hover;
    transition: ease 0.15s;
    border-radius: 1cap;
  }
}

.userActions {
  padding: 0.5em;
  list-style: none;
}
