.user {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-bottom: 4em;

  .picture {
    img {
      width: 150px;
      height: 150px;
      object-fit: cover;
      border-radius: 50%;
    }
  }

  .information {
    list-style: none;
  }
}
