.title {
  text-align: center;
}

.loginInputs {
  list-style: none;

  input {
    font-family: inherit;

    background-color: inherit;
    width: 100%;

    font-size: 1.1em;
    padding: 0.3em;

    border-radius: 0.5cap;
    border: 1px solid rgb(220, 217, 217);

    margin-bottom: 2em;

    &:focus {
      outline: none;
      box-shadow: 0 0 5px rgb(220, 217, 217);
    }
  }
}

.information {
  text-align: center;
  cursor: pointer;

  span {
    font-weight: bolder;

    &:hover {
      text-decoration: underline;
    }
  }
}
