.title {
  font-family: inherit;

  background-color: inherit;
  width: 400px;

  font-size: 1.1em;
  padding: 0.3em;

  border-radius: 0.5cap;
  border: 1px solid rgb(220, 217, 217);

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(220, 217, 217);
  }
}

.description {
  background-color: inherit;
  font-family: inherit;

  font-size: 1.1em;
  padding: 0.3em;

  border-radius: 0.5cap;
  border: 1px solid rgb(220, 217, 217);

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(220, 217, 217);
  }
}
