@import "../../../styles/variables";

.taskMenuList {
  .title {
    font-size: 0.8em;
    font-weight: 500;

    margin-bottom: 1em;

    text-transform: uppercase;
  }

  .listWrapper {
    border-bottom: 1px solid rgb(220, 217, 217);

    padding: 0.5em;

    list-style: none;
  }
}

.taskMenuItem {
  width: 100%;

  margin-bottom: 1em;

  .itemWrapper {
    width: 40%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 0.5em;
  }

  &:hover {
    cursor: pointer;
    background-color: $menu-item-hover;
    transition: ease 0.15s;
    border-radius: 1cap;
  }

  &:first-child {
    .itemtitle {
      font-weight: bold;
    }
    border-radius: 1cap;
    background-color: $menu-item-hover;
  }
}
