@import "../../styles/variables";

form {
  background-color: $background-color;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 450px;
  margin-left: auto;
  border-radius: 1cap;
  padding: 1em;

  .header {
    font-size: 1.4em;
    text-align: center;
    margin-bottom: 2em;
  }

  .taskname {
    font-size: 1.2em;
    width: 100%;
    background-color: inherit;
    border-radius: 0.5cap;
    border: 1px solid rgb(220, 217, 217);
    padding: 0.3em;
  }

  .buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;

    button {
      width: 45%;
      font-size: 1em;
      background-color: rgb(254, 215, 19);
      border: 1px solid rgb(220, 217, 217);
      padding: 0.7em;
      border-radius: 1cap;
    }

    .deletetask {
      background-color: inherit;
    }
  }
}
