@import "../../styles/variables";

input {
  background-color: inherit;
  width: 400px;

  font-size: 1.1em;
  font-family: inherit;
  padding: 0.3em;

  border-radius: 0.5cap;
  border: 1px solid rgb(220, 217, 217);

  &:focus {
    outline: none;
    box-shadow: 0 0 5px rgb(220, 217, 217);
  }
}

.eventLabels {
  list-style: none;

  .eventLabel {
    display: flex;
    align-items: center;
    margin-bottom: 1em;

    p {
      width: 20%;
    }

    .dateInput {
      text-transform: uppercase;
    }
  }
}
