.container {
  padding: 1.5em;
  background-color: rgb(255, 247, 210);
  border-radius: 1cap;

  &:hover {
    cursor: pointer;
    transform: scale(0.97);
    transition: 0.15s ease;
  }

  .title {
    margin-bottom: 1em;
    font-size: 1.5em;
  }
}
