.calendar-container {
  width: 100%;

  .content {
    .header {
      margin-left: auto;
      margin-right: auto;
      width: 90%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 3em;

      h1 {
        font-size: 2em;
      }
    }

    .add-event-btn {
      background-color: inherit;
      padding: 0.7em;

      font-size: 1em;

      border: 1px solid rgb(220, 217, 217);
      border-radius: 1cap;

      &:hover {
        background-color: rgb(254, 215, 19);
        cursor: pointer;
        transition: ease 0.25s;
      }

      &:active {
        transform: scale(0.95);
      }
    }
  }

  .sx-react-calendar-wrapper {
    height: 700px;
    width: 75vw;
    margin-left: auto;
    margin-right: auto;
  }
}
