.wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .header {
    font-size: 1.4em;
  }

  .closeIcon {
    font-size: 1.8em;

    &:hover {
      cursor: pointer;
    }
  }
}
